<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emailServico:email_host" value="smtp.gmail.com" />
		<add key="emailServico:email_remetente" value="seuemail@gmail.com" />
		<add key="emailServico:email_senha" value="suasenhagerada" />
	</appSettings>
</configuration>
